@charset "utf-8";
/*
footer {
    padding-top: 100px;
    margin: 0 auto;
    width: 100%;
    height: 230px;

}
*/
footer {
    position: absolute;
    padding-top: 100px;
    margin: 0 auto;
    width: 100%;
    height: 230px;

}

footer .footer-wrap {
    width: 1257px;
    height: 170px;
    margin: 0 auto;
    text-align: center;
      border-bottom: 1px solid #aaaaaa;
    border-top: 1px solid #aaaaaa;
   
}

footer .footer-wrap ul {
    display: inline-block;
    font-size: 12px;
   margin-top: 20px;
    height: 130px;
       width: 299.5px;
  

}

footer .footer-wrap ul li {
    text-align: center;
    height: 20px;
    line-height: 20px;
 
    line-height: 20px;
    color: #707070;
}

footer .footer-wrap ul li.copyright {
    position: relative;
    top: 70px;
    font-size: 12px;
 left: -150px;
}

footer .footer-wrap ul li:first-child {
    font-size: 13.5px;
    font-weight: bold;
    padding-bottom: 20px;
}
footer .footer-wrap ul:last-child{
    border-right: 0px;
}
/*
footer ul.footer-bottom{
    width: 100%;
    height: 20px;
    text-align: center;
    background-color: #000;
    color: #fff;
    padding-bottom: 20px;
    font-size: 12px;
    padding-top: 20px;
    border-top: 1px solid #aaaaaa;
}*/
