@charset "utf-8";
           html ,body{width: 100%; height: 100%;}
        .web{
            width: 100%;
            height: 100%;
        }
   .indicator{position: fixed; z-index: 99; right: 40px;
        top: 50%; transform: translateY(-50%);}
        .indicator ul li{margin: 20px 0; font-size: 12px; text-align: center;}
        .indicator ul li a{color: #fff;} 
        .indicator ul li a.fz{font-size: 17px;}
        .indicator ul li a.on{color: #82cdc0; font-size: 17px;}
@media screen and (max-width:499px){
       .indicator{
           display: none;
}