@charset "utf-8";

.table_wrap{
  width: 100%;
}

table{
  width: 80%;
  border-top: 1px solid #d9d9d9;
  border-collapse: collapse;
  margin: 200px auto;
  color: #141414;
}
th, td {
        border-bottom: 1px solid #d9d9d9;
        padding: 20px 0 20px 0;
        text-align: center;
      }

.table_wrap h2{
  font-size: 25px;
  font-weight: 600;
  margin: 0px -85px 40px 0px;
}

@media screen and (max-width:800px) {
  table{
    width:90%;
  }

  .table_wrap h2{
    text-align: center;
      margin: 0px 0px 40px 0px;
  }

}
