@charset "utf-8";

/*이미지호버 시작*/


.imgHoverEvent {
    border-radius: 50px 50px;
    width: 300px;
    height: 300px;
    margin: 30px;
    position: relative;
    overflow: hidden;
    display: inline-block;
}

.imgHoverEvent .imgBox {
    width: 300px;
    height: 300px;
    text-align: center;
    background-size: auto 100%;
}

.imgHoverEvent .hoverBox {
    position: absolute;
    top: 0;
    left: 0;
    width: 300px;
    height: 300px;
}

.hoverBox p.p1 {
    text-align: center;
    font-size: 18px;
}

.hoverBox p.p2 {
    margin-top: 40px;
}

.event3 .hoverBox {
    background: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(255, 255, 255, 1));
    width: 50px;
    height: 400px;
    transform: rotateZ(30deg);
    top: -50px;
    left: -130px;
    transition: 0.4s;
    opacity: 0.5;
}

.event3:hover .hoverBox {
    left: 300px;
    opacity: 1;
}

/*이미지호버끝*/
.sub2-wrap {
    width: 1400px;
    margin: 0 auto;
}

.sub2::after {
    content: "";
    display: block;
    clear: both;
}

.sub2 {
    text-align: center;
    width: 100%;
}

.sub2 .sub2-2 {
    float: left;
    width: 33%;
}

.sub2 .sub2-2 ul li:first-child {
    font-weight: bold;
    color: #013624;
    margin-bottom: 10px;
}

.sub2 .sub2-2 ul li {
    line-height: 20px;
    color: #013624;
}
.sub2 .sub2-2 ul li:nth-child(2){
  display: inline-block;
    margin: 0 5px;
    border: 1px solid #013624;
    background-color: #013624;
        color: #fff;
    padding: 5px 5px;
    border-radius: 10px;
}
.sub2 .sub2-2 ul li:nth-child(3){
display: inline-block;
    margin: 0 5px;
    border: 1px solid #013624;
    background-color: #013624;
        color: #fff;
    padding: 5px 5px;
        border-radius: 10px;
}
.sub2-wrap h1 {
    background-color: #fff;
    font-size: 20px;
    text-align: center;
    color: #000;
    font-weight: bold;
    padding: 50px;
            letter-spacing: 7px;
}
.sub2-wrap h1 span{
margin: 0 10px;
}
/*sub2 End*/
@media screen and (max-width:1920px) {
    .sub2-wrap {
        width: 100%;
    }

    .sub2 .sub2-2 {
        float: left;
        width: 33%;
    }

    .sub2 .sub2-2 img {
        width: 100%;
    }
}

@media screen and (max-width:988px) {
    .sub2-wrap {
        width: 100%;
    }

    .sub2 .sub2-2 {
        float: left;
        width: 33%;
    }

    .sub2 .sub2-2 img {
        width: 100%;
    }

    .imgHoverEvent {
        width: 200px;
        height: 200px;
        margin: 30px;
        position: relative;
        overflow: hidden;
        display: inline-block;
    }

    .imgHoverEvent .imgBox {
        width: 200px;
        height: 200px;
        text-align: center;
        background-size: auto 100%;
    }

    .imgHoverEvent .hoverBox {
        position: absolute;
        top: 0;
        left: 0;
        width: 200px;
        height: 200px;
    }

    .hoverBox p.p1 {
        text-align: center;
        font-size: 18px;
    }

    .hoverBox p.p2 {
        margin-top: 40px;
    }

    .event3 .hoverBox {
        background: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(255, 255, 255, 1));
        width: 50px;
        height: 400px;
        transform: rotateZ(30deg);
        top: -50px;
        left: -130px;
        transition: 0.4s;
        opacity: 0.5;
    }

    .event3:hover .hoverBox {
        left: 300px;
        opacity: 1;
    }
}

@media screen and (max-width:768px) {
    .sub2-wrap {
        width: 100%;
    }

    .sub2 .sub2-2 {
        float: left;
        width: 33%;
    }

    .sub2 .sub2-2 img {
        width: 100%;
    }

    .imgHoverEvent {
        width: 150px;
        height: 150px;
        margin: 30px;
        position: relative;
        overflow: hidden;
        display: inline-block;
    }

    .imgHoverEvent .imgBox {
        width: 150px;
        height: 150px;
        text-align: center;
        background-size: auto 100%;
    }

    .imgHoverEvent .hoverBox {
        position: absolute;
        top: 0;
        left: 0;
        width: 150px;
        height: 150px;
    }

    .hoverBox p.p1 {
        text-align: center;
        font-size: 18px;
    }

    .hoverBox p.p2 {
        margin-top: 40px;
    }

    .event3 .hoverBox {
        background: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(255, 255, 255, 1));
        width: 50px;
        height: 400px;
        transform: rotateZ(30deg);
        top: -50px;
        left: -130px;
        transition: 0.4s;
        opacity: 0.5;
    }

    .event3:hover .hoverBox {
        left: 300px;
        opacity: 1;
    }
}

@media screen and (max-width:617px) {
    .sub2-wrap {
        width: 100%;
    }

    .sub2 .sub2-2 {
        float: none;
        width: 100%;
    }

    .sub2 .sub2-2 img {
        width: 100%;
    }

    .imgHoverEvent {
        width: 330px;
        height: 330px;
        margin: 30px;
        position: relative;
        overflow: hidden;
        display: inline-block;
    }

    .imgHoverEvent .imgBox {
        width: 330px;
        height: 330px;
        text-align: center;
        background-size: auto 100%;
    }

    .imgHoverEvent .hoverBox {
        position: absolute;
        top: 0;
        left: 0;
        width: 330px;
        height: 330px;
    }

    .hoverBox p.p1 {
        text-align: center;
        font-size: 18px;
    }

    .hoverBox p.p2 {
        margin-top: 40px;
    }

    .event3 .hoverBox {
        background: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(255, 255, 255, 1));
        width: 50px;
        height: 400px;
        transform: rotateZ(30deg);
        top: -50px;
        left: -130px;
        transition: 0.4s;
        opacity: 0.5;
    }

    .event3:hover .hoverBox {
        left: 400px;
        opacity: 1;
    }
}
@media screen and (max-width:392px) {
    .sub2-wrap {
        width: 100%;
    }

    .sub2 .sub2-2 {
        float: none;
        width: 100%;
    }

    .sub2 .sub2-2 img {
        width: 100%;
    }

    .imgHoverEvent {
        width: 250px;
        height: 250px;
        margin: 10px;
        position: relative;
        overflow: hidden;
        display: inline-block;
    }

    .imgHoverEvent .imgBox {
        width: 250px;
        height: 300px;
        text-align: center;
        background-size: auto 100%;
    }

    .imgHoverEvent .hoverBox {
        position: absolute;
        top: 0;
        left: 0;
        width: 250px;
        height: 250px;
    }

    .hoverBox p.p1 {
        text-align: center;
        font-size: 18px;
    }

    .hoverBox p.p2 {
        margin-top: 40px;
    }

    .event3 .hoverBox {
        background: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(255, 255, 255, 1));
        width: 50px;
        height: 400px;
        transform: rotateZ(30deg);
        top: -50px;
        left: -130px;
        transition: 0.4s;
        opacity: 0.5;
    }

    .event3:hover .hoverBox {
        left: 400px;
        opacity: 1;
    }
}
